# --- Dependências ---
node_modules/
.pnpm-store/

# --- Variáveis de Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Build e Compilação ---
dist/
build/
out/
*.tsbuildinfo

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Prisma (Banco de Dados) ---
# Ignora o banco SQLite local caso use para testes, 
# mas mantém o schema e migrations que são necessários.
/prisma/*.db
/prisma/*.db-journal

# --- IDEs e Editores ---
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Aruivos de teste ---
/coverage

/src/generated/prisma
